<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TMDB_ACCESS_TOKEN</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5YjAyYWM4ZmY1MmM3NzYwMTRlM2I2NzI4YzliOTQ5OCIsIm5iZiI6MTc3NzEzMjg0NC40ODYsInN1YiI6IjY5ZWNlNTJjMmVmZjM1ZjJjNTZiMTkwZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.kxcJYSMyK1DPBFrU_mfvC3zPg7X1TlZGfQNKz9Nppqk</string>
	<key>TMDB_API_KEY</key>
	<string>9b02ac8ff52c776014e3b6728c9b9498</string>
</dict>
</plist>
